<div class="container">
  <div class="row">
    <div class="col-md-8 mx-auto">
      <div class="card">
        <div class="card-header">
          <h3>Front-End Form</h3>
        </div>
        <div class="card-body">
          <form class="form" [formGroup]="userForm" (ngSubmit)="onSubmit()">
            <fieldset class="form-group">
              <h4>Main Info</h4>
              <div class="form-group">
                <label>First Name</label>
                <input
                  class="form-control"
                  type="text"
                  formControlName="firstName"
                  placeholder="First Name"
                />
              </div>
              <!--<span
                class="text-danger"
                *ngIf="
                  userForm.controls['firstName'].touched &&
                  userForm.controls['firstName'].errors!['required']
                "
              >
                First name is required
              </span>-->

              <div class="form-group">
                <label>Last Name</label>
                <input
                  class="form-control"
                  type="text"
                  formControlName="lastName"
                  placeholder="Last Name"
                />
              </div>
              <!--<span
              class="text-danger"
              *ngIf="
                userForm.controls.lastName.touched &&
                userForm.controls.lastName.errors!['required']
              "
            >
              Last name is required
            </span>-->

              <div class="form-group">
                <label>Date of Birth</label>
                <input
                  class="form-control"
                  type="date"
                  formControlName="dateOfBirth"
                  placeholder="birth-date"
                />
              </div>
              <!--<span
              class="text-danger"
              *ngIf="
                userForm.controls.dateOfBirth.touched &&
                userForm.controls.dateOfBirth.errors!['required']
              "
            >
              Date of Birth is required
            </span>-->

              <div class="form-group">
                <label>Email</label>
                <input
                  class="form-control"
                  type="email"
                  formControlName="email"
                  placeholder="Email"
                />
              </div>
              <!-- <span
              class="text-danger"
              *ngIf="
                userForm.controls.email.touched &&
                userForm.controls.email.errors!['required']
              "
            >
              Email is required
            </span>-->
              <!--<div
    class="error"
    *ngIf="(userForm?.controls?.email?.errors)!['errorEmailDomain']"
  >
    Should contain the @scaler.com domain
  </div>-->
            </fieldset>
            <fieldset class="form-group">
              <h4>Technology</h4>
              <div class="form-group">
                <label>Front-End Framework</label>
                <mat-select
                  class="form-control"
                  [(ngModel)]="selectedFramework"
                  name="framework"
                  [ngModelOptions]="{ standalone: true }"
                  [value]="onFramworkChange()"
                >
                  <mat-option
                    *ngFor="let framework of frameworks"
                    [value]="framework"
                  >
                    {{ framework }}
                  </mat-option>
                </mat-select>
              </div>

              <div class="form-group">
                <label>Front-End Technology Version</label>
                <mat-select
                  class="form-control"
                  [(ngModel)]="selectedVersion"
                  name="framework-version"
                  [ngModelOptions]="{ standalone: true }"
                  *ngIf="selectedFramework != undefined"
                  [value]="onVersionChange()"
                >
                  <mat-option
                    *ngFor="let version of versions"
                    [value]="version"
                  >
                    {{ version }}
                  </mat-option>
                </mat-select>
              </div>
            </fieldset>

            <fieldset class="form-group">
              <h4>Hobbies</h4>
              <ol>
                <li
                  formArrayName="hobbies"
                  *ngFor="let control of hobbies.controls; let i = index"
                >
                  <div class="form-group">
                    <input
                      class="form-control"
                      type="text"
                      id="{{ 'hobbyName' + i }}"
                      formControlName="hobbyName"
                      placeholder="Hobby Name"
                    />
                  </div>
                  <button
                    class="btn btn-danger"
                    id="delete-button"
                    type="button"
                    (click)="removeHobby(i)"
                    [disabled]="hobbies.controls.length <= 1"
                  >
                    ×
                  </button>
                </li>
              </ol>
              <button
                class="btn btn-outline-primary"
                type="button"
                (click)="addHobby()"
              >
                Add new hobby
              </button>
            </fieldset>
          </form>
          <div class="form-group" id="submit-button-div">
            <button
              class="btn btn-primary"
              type="submit"
              [disabled]="!userForm.valid"
            >
              Submit
            </button>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<pre>{{ userForm.value | json }}</pre>
<ng-container *ngIf="userForm">
  <h4>Form States</h4>
  <div>Valid : {{ userForm.valid }}</div>
  <div>Invalid : {{ userForm.invalid }}</div>
  <div>Pristine : {{ userForm.pristine }}</div>
  <div>Dirty : {{ userForm.dirty }}</div>
  <div>Touched : {{ userForm.touched }}</div>
</ng-container>
