<div class="container">
  <div class="row">
    <div class="col-md-8 mx-auto">
      <div class="card">
        <div class="card-header">
          <h3>Front-End Form</h3>
        </div>
        <div class="card-body">
          <form class="form" [formGroup]="userForm" (ngSubmit)="onSubmit()">
            <fieldset>
              <h4>Main Info</h4>
              <div class="form-group">
                <label>First Name*</label>
                <input
                  class="form-control"
                  type="text"
                  formControlName="firstName"
                  placeholder="First Name"
                />
              </div>
              <span
                class="text-danger"
                *ngIf="
                  userForm.controls['firstName'].invalid &&
                  (userForm.controls['firstName'].dirty ||
                    userForm.controls['firstName'].touched)
                "
              >
                First name is required
              </span>

              <div class="form-group">
                <label>Last Name*</label>
                <input
                  class="form-control"
                  type="text"
                  formControlName="lastName"
                  placeholder="Last Name"
                />
              </div>
              <span
                class="text-danger"
                *ngIf="
                  userForm.controls['lastName'].invalid &&
                  (userForm.controls['lastName'].dirty ||
                    userForm.controls['lastName'].touched)
                "
              >
                Last name is required
              </span>

              <div class="form-group">
                <label>Date of Birth*</label>
                <input
                  class="form-control"
                  type="date"
                  formControlName="dateOfBirth"
                  placeholder="birth-date"
                />
              </div>
              <span
                class="text-danger"
                *ngIf="
                  userForm.get('dateOfBirth')?.hasError('ageInvalid') &&
                  (userForm.controls['email'].dirty ||
                    userForm.controls['email'].touched)
                "
                >Sorry, you are too young
              </span>
              <div class="form-group">
                <label>Email*</label>
                <input
                  class="form-control"
                  type="email"
                  formControlName="email"
                  placeholder="Email"
                />
              </div>
              <span
                class="text-danger"
                *ngIf="
                  userForm.get('email')!.hasError('emailTaken') &&
                  (userForm.controls['email'].dirty ||
                    userForm.controls['email'].touched)
                "
                >Such email already exists
              </span>
              <span
                class="text-danger"
                *ngIf="
                  userForm.controls['email'].invalid &&
                  (userForm.controls['email'].dirty ||
                    userForm.controls['email'].touched)
                "
              >
                Email is required
              </span>
            </fieldset>
            <fieldset class="form-group">
              <h4>Technology</h4>
              <div class="form-group">
                <label>Front-End Framework*</label>
                <select
                  class="form-control"
                  [(ngModel)]="selectedFramework"
                  name="framework"
                  formControlName="framework"
                  [value]="onFramworkChange()"
                >
                  <option
                    *ngFor="let framework of frameworks"
                    [ngValue]="framework"
                  >
                    {{ framework }}
                  </option>
                </select>
              </div>
              <span
                class="text-danger"
                *ngIf="
                  selectedFramework === '' &&
                  (userForm.controls['framework'].dirty ||
                    userForm.controls['framework'].touched)
                "
              >
                Framework is required
              </span>

              <div class="form-group">
                <label>Front-End Technology Version*</label>
                <select
                  class="form-control"
                  [(ngModel)]="selectedVersion"
                  name="framework-version"
                  formControlName="frameworkVersion"
                  [value]="onVersionChange()"
                  [disabled]="selectedFramework === ''"
                >
                  <option *ngFor="let version of versions" [value]="version">
                    {{ version }}
                  </option>
                </select>
              </div>
              <span
                class="text-danger"
                *ngIf="
                  selectedVersion === '' &&
                  (userForm.controls['frameworkVersion'].dirty ||
                    userForm.controls['frameworkVersion'].touched)
                "
              >
                Framework version is required
              </span>
            </fieldset>

            <fieldset class="form-group">
              <h4>Hobbies</h4>
              <ol>
                <li
                  formArrayName="hobbies"
                  *ngFor="let control of hobbies.controls; let index = index"
                >
                  <div class="form-group">
                    <input
                      class="form-control"
                      type="text"
                      id="{{ 'hobbyName' + index }}"
                      formControlName="{{ index }}"
                      placeholder="Hobby name"
                    />
                  </div>
                  <button
                    class="btn btn-danger"
                    id="delete-button"
                    type="button"
                    (click)="removeHobby(index)"
                    [disabled]="hobbies.controls.length <= 1"
                  >
                    ×
                  </button>
                  <span
                    class="text-danger"
                    *ngIf="
                      hobbies.controls[index].invalid &&
                      hobbies.controls.length < 2 &&
                      (hobbies.controls[index].dirty ||
                        hobbies.controls[index].touched)
                    "
                  >
                    At least 1 hobby is required
                  </span>
                </li>
              </ol>
              <button
                class="btn btn-outline-primary"
                type="button"
                (click)="addHobby()"
              >
                Add new hobby
              </button>
            </fieldset>
            <div class="form-group" id="submit-button-div">
              <button
                class="btn btn-primary"
                type="submit"
                [disabled]="!userForm.valid"
              >
                Submit
              </button>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>
<pre>{{ userForm.value | json }}</pre>
<ng-container *ngIf="userForm">
  <h4>Form States</h4>
  <div>Valid : {{ userForm.valid }}</div>
  <div>Invalid : {{ userForm.invalid }}</div>
  <div>Pristine : {{ userForm.pristine }}</div>
  <div>Dirty : {{ userForm.dirty }}</div>
  <div>Touched : {{ userForm.touched }}</div>
</ng-container>
